body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;

}



.header .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;

}

.navbar {
  display: flex;
  align-items: center;
}

.logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  gap: 40px;

}

.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.logostudio {
  color: #2e2f42;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* main */

/* section1 */


.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero-title {
  max-width: 496px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  /* transition: background-color 0.3s ease; */
}

.button:hover {
  background-color: #404bbf;
  color: #f0f0f0;
}

.button:focus {
  background-color: #404bbf;
  color: #f0f0f0;
}

/* section2 */

.feature {
  padding: 120px 0;
}

.feature-title {
  visibility: hidden;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list-item {
  width: calc((100% - 72px) / 4);
}

featire-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.info-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section3 */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  padding: 32px 0;
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  text-align: center;
}

/* section4 */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;

}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */
.footer {
  background-color: #2e2f42;
  color: white;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logostudio {
  color: #f4f4fd;
}